:root{
    --preto: #000000;
    --marinho: #243642;
    --amarelo-claro: #E2F1E7;
    --roxo-claro:#629584;
    }
    header{
        display: flex;
        width: 100%;
        background-color: var(--marinho);
        padding: 1rem;
        position: relative;
        justify-content: flex;
    }
    .menu-disciplinas{
        width: 20%;
        display: inline-block;
    }
    .botao-disciplinas{
        cursor: pointer;
        font-size: 2rem;
        background: none;
        background-color: var(--amarelo-claro);
        border: none;
        padding: 1.05rem 1.5rem;
        color: var(--roxo-claro);
    }
    #menu-toggle{
        display: none;
    }
    .lista-vertical{
        display: none;
        position: absolute;
        background-color: var(--roxo-claro);
        box-shadow: 0 2px 5px var(--marinho);
        min-width: 190px;
        z-index: 1;
        left: 1rem;
        top: 100%;
    }
    .lista-vertical a{
        color: var(--preto);
        padding: 0.75rem 1rem;
        text-decoration: none;
        font-size: 2rem;
        display: block;
        text-align: center;
    }
    .lista-vertical a:hover{
        background-color: var(--amarelo-claro);
    }
    #menu-toggle:checked ~ .lista-vertical{
        display: block;
    }
    #menu-toggle:checked + .botao-disciplinas{
        background-color: var(--preto);
    }
    .foto-materia{
        width: 35%;
    }
    .fotos{
        position: relative;
        left: 450px;
        top: 20px;
    }