body {
    font-size: 1rem;
    font-family: 'Montserrat';
}

header {
    background-color: #31dce2;
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #CB6D43;
    font-weight: 600;
}