body{
    background-color: var(--fundo);
}

header{
    background-color: var(--roxo);
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

header a{
    color: var(--preto);
    text-decoration: none;
}
