:root{
--preto: #000000;
--marinho: #493D9E;
--amarelo-claro: #FFF4AF;
--roxo-claro:#B2AFFF;
}
header{
    display: flex;
    width: 100%;
    background-color: var(--marinho);
    padding: 1rem;
    position: relative;
    justify-content: center;
}
.menu-disciplinas{
    width: 20%;
    display: inline-block;
}
.botao-disciplinas{
    cursor: pointer;
    font-size: 2rem;
    background: none;
    background-color: var(--amarelo-claro);
    border: none;
    padding: 1.05rem 1.5rem;
    color: var(--roxo-claro);
}
#menu-toggle{
    display: none;
}
.lista-vertical{
    display: none;
    position: absolute;
    background-color: var(--roxo-claro);
    box-shadow: 0 2px 5px var(--marinho);
    min-width: 190px;
    z-index: 1;
    left: 1rem;
    top: 100%;
}