body{
    background-color: violet;
}

header{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

header a{
    color: green;
    text-decoration: none;
}
